html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-header {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}


/** globales */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    overflow: hidden;
}

p {
    font-size: 0.9rem;
    line-height: 1.8;
}


/** botones **/

.boton {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    background-color: #00b8e4;
    display: block;
    text-align: center;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color .3s ease-in-out;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        border-bottom: none;
        padding: 0.5rem 1.7rem;
        font-size: 14px;
    }
}

.boton:hover {
    background-color: #2e99b4;
}


/** navegacion y barra **/

.barra {
    background-color: #db008d;
}

.navegacion-principal a {
    color: white;
    text-decoration: none;
}

.navegacion-principal a {
    display: block;
    padding: 1rem 1.1rem;
    text-align: center;
}

.navegacion-principal a:hover {
    background-color: #00b8e4;
}

@media (min-width: 768px) {
    .navegacion-principal a {
        display: inline-block;
    }
}


/** **/

@media (min-width: 768px) {
    .contenido-principal {
        width: 800px;
        float: left;
    }
}


/** contenido principal **/

@media (min-width: 768px) {
    .entrada img {
        width: 300px;
        display: block;
        float: left;
        margin: 0 15px 0 0;
    }
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .sidebar {
        width: 400px;
        float: right;
    }
}

@media (min-width: 768px) {
    .otras-entradas {
        padding: 0 0 0 20px;
    }
}

.entrada p {
    text-align: justify;
}

.sidebar ul li a {
    display: block;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #00b8e4;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #00b8e4;
    color: white;
}


/*** footer **/

.site-footer {
    background-color: #db008d;
    padding-top: 30px;
    text-align: center;
}

.alfa {
    color: white;
}

.navegacion-footer a {
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
}

.nosotros {
    padding-bottom: 30px;
}

.menu {
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .alfa {
        display: flex;
        justify-content: space-between;
        flex-basis: calc(60% 40% - 1rem);
        text-align: left;
    }
    .nosotros {
        display: flex;
        justify-content: space-around;
    }
    .nosotros {
        display: block;
        width: 40%;
        display: calc(40% - 1.1rem)
    }
}

.copyrigth {
    display: block;
    background-color: #af0b76;
    margin: 0;
    padding: 10px;
}